# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: abstract-play
# app and org for use with dashboard.serverless.com
# app: apfront
# org: wamelen

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: '3'

custom:
  scheduleEnabled:
    prod: true
    dev: false

  recbucket:
    prod: "records.abstractplay.com"
    dev: "records.abstractplay.com"

  dumpbucket: "abstractplay-db-dump"

  websocketDomain:
    Fn::Join:
      - ""
      - - Ref: WebsocketsApi
        - ".execute-api."
        - Ref: AWS::Region
        - ".amazonaws.com"

  stageConfig:
    dev:
      profile: AbstractPlayDev
      userpool: arn:aws:cognito-idp:us-east-1:153672715141:userpool/us-east-1_2zrzbEjoU
      userpoolId: us-east-1_2zrzbEjoU
      userpoolClient: 14mpql1tmvntup4p2anm4jt782
      sqsurl: https://sqs.us-east-1.amazonaws.com/153672715141/abstractplay-aiai-dev-aiai-queue

    prod:
      profile: AbstractPlayProd
      userpool: arn:aws:cognito-idp:us-east-1:153672715141:userpool/us-east-1_YCjgSZHJm
      userpoolId: us-east-1_YCjgSZHJm
      userpoolClient: 2isan3ctk1aabt2v6r6aptlpg
      sqsurl: https://sqs.us-east-1.amazonaws.com/153672715141/abstractplay-aiai-prod-aiai-queue


package:
  # individually: true
  excludeDevDependencies: false
  exclude:
    - node_modules/@aws-sdk/**

plugins:
  - serverless-plugin-common-excludes
  - serverless-plugin-include-dependencies

provider:
  name: aws
  runtime: nodejs20.x
  versionFunctions: false
  stage: ${opt:stage, 'dev'}
  profile: ${self:custom.stageConfig.${self:provider.stage}.profile}
  region: us-east-1
  logs:
    websocket: true
  environment:
    ABSTRACT_PLAY_TABLE: abstract-play-${self:provider.stage}
    userpool: ${self:custom.stageConfig.${self:provider.stage}.userpool}
    userpoolId: ${self:custom.stageConfig.${self:provider.stage}.userpoolId}
    userpoolClient: ${self:custom.stageConfig.${self:provider.stage}.userpoolClient}
    SQS_URL: ${self:custom.stageConfig.${self:provider.stage}.sqsurl}
    AIAI_USERID: SkQfHAjeDxs8eeEnScuYA
    TOTP_KEY: ${env:TOTP_KEY}
    VAPID_PRIVATE_KEY: ${env:VAPID_PRIVATE_KEY}
    VAPID_PUBLIC_KEY: ${env:VAPID_PUBLIC_KEY}
    # TOTP_KEY: ${file(../apsecrets.yml):totp_key}
    # VAPID_PRIVATE_KEY: ${file(../apsecrets.yml):vapid_private_key}
    # VAPID_PUBLIC_KEY: ${file(../apsecrets.yml):vapid_public_key}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:ExportTableToPointInTime
            - dynamodb:BatchWriteItem
            - ses:SendEmail
            - ses:SendRawEmail
            - sqs:SendMessage
            - cloudfront:CreateInvalidation
          Resource: "*"
        - Effect: 'Allow'
          Action:
            - 's3:ListBucket'
          Resource:
            - 'arn:aws:s3:::abstractplay-db-dump'
            - 'arn:aws:s3:::records.abstractplay.com'
        - Effect: 'Allow'
          Action:
            - 's3:GetObject'
            - 's3:PutObject'
          Resource:
            - 'arn:aws:s3:::abstractplay-db-dump/*'
            - 'arn:aws:s3:::records.abstractplay.com/*'

resources:
  Resources:
    # One table design
    AbstractGamesDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Delete
      Properties:
        AttributeDefinitions:
          -
            AttributeName: "pk"
            AttributeType: "S"
          -
            AttributeName: "sk"
            AttributeType: "S"
        KeySchema:
          -
            AttributeName: "pk"
            KeyType: "HASH"
          -
            AttributeName: "sk"
            KeyType: "RANGE"
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: "NEW_AND_OLD_IMAGES"
        TableName: ${self:provider.environment.ABSTRACT_PLAY_TABLE}

    GatewayResponseDefault4XX:
       Type: 'AWS::ApiGateway::GatewayResponse'
       Properties:
         ResponseParameters:
           gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
           gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
         ResponseType: DEFAULT_4XX
         RestApiId:
           Ref: 'ApiGatewayRestApi'

    WsMessageQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: abstractplay-ws-messages-${self:provider.stage}
        VisibilityTimeout: 900   # match your consumer Lambda timeout
        MessageRetentionPeriod: 86400  # 1 day, adjust as needed

    # Apparently this is explicitly needed (which makes no sense to me, but there it is)
    ConnectLambdaPermission:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName: ${self:service}-${self:provider.stage}-connect
        Action: lambda:InvokeFunction
        Principal: apigateway.amazonaws.com
        SourceArn:
          Fn::Sub: arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${WebsocketsApi}/${self:provider.stage}/*/$connect
    DisconnectLambdaPermission:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName: ${self:service}-${self:provider.stage}-disconnect
        Action: lambda:InvokeFunction
        Principal: apigateway.amazonaws.com
        SourceArn:
          Fn::Sub: arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${WebsocketsApi}/${self:provider.stage}/*/$disconnect

    # for autodeployments
    WebsocketsDeployment:
      Type: AWS::ApiGatewayV2::Deployment
      Properties:
        ApiId:
          Ref: WebsocketsApi
        Description: Force redeploy ${sls:timestamp}
      DependsOn:
        - SconnectWebsocketsRoute
        - SdisconnectWebsocketsRoute

    WebsocketsDeploymentStage:
      Type: AWS::ApiGatewayV2::Stage
      Properties:
        StageName: ${self:provider.stage}
        ApiId:
          Ref: WebsocketsApi
        DeploymentId:
          Ref: WebsocketsDeployment
        DefaultRouteSettings:
          DataTraceEnabled: true       # enables execution logging
          LoggingLevel: INFO           # ERROR | INFO

  Outputs:
    WsMessageQueueArn:
      Value: !GetAtt WsMessageQueue.Arn
      Export:
        Name: WsMessageQueueArn-${self:provider.stage}
    WsMessageQueueUrl:
      Value: !Ref WsMessageQueue
      Export:
        Name: WsMessageQueueUrl-${self:provider.stage}
    WebsocketApiUrl:
      Value:
        Fn::Join:
          - ""
          - - "wss://"
            - Ref: WebsocketsApi
            - ".execute-api."
            - Ref: AWS::Region
            - ".amazonaws.com/"
            - ${self:provider.stage}
      Export:
        Name: ${self:service}-${self:provider.stage}-WebsocketApiUrl

functions:
  authQuery:
    handler: api/abstractplay.authQuery
    memorySize: 1024
    description: Abstract Play queries that need authorization.
    logRetentionInDays: 30
    events:
      - http:
          path: authQuery
          method: post
          cors: true
          integration: lambda
          authorizer:
            name: authorizer
            arn: ${self:provider.environment.userpool}
            claims:
              - email
              - 'cognito:username'
  query:
    handler: api/abstractplay.query
    memorySize: 256
    description: Abstract Play queries that does not need authorization.
    logRetentionInDays: 30
    events:
      - http:
          path: query
          method: get
          cors: true
      - http:
          path: query
          method: post
          cors: true
  yourturn:
    handler: utils/yourturn.handler
    description: Sends out "your turn" notifications
    logRetentionInDays: 30
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-yourturn
          description: Send out "your turn" notifications
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          schedule: cron(0 14,22 * * ? *)
  tournament-data:
    handler: utils/tournament-data.handler
    description: Summarizes tournament data
    timeout: 900
    memorySize: 10240
    logRetentionInDays: 30
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-tournament-data
          description: Summarizes tournament data
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # 3am UTC every sunday (giving the dump plenty of time to complete)
          schedule: cron(0 3 * * ? *)
  starttournaments:
    handler: utils/starttournaments.handler
    description: Checks if any tournaments are ready to start (and starts or cancels them)
    timeout: 600
    logRetentionInDays: 30
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-starttournaments
          description: Checks if any tournaments are ready to start (and starts or cancels them)
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # 10am and 10pm UTC every day
          schedule: cron(0 10,22 * * ? *)
  standingchallenges:
    handler: utils/standingchallenges.handler
    description: Manages preset standing challenge requests
    timeout: 600
    logRetentionInDays: 30
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-standingchallenges
          description: Manages preset standing challenge requests
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # Midnight and noon UTC every day
          schedule: cron(0 0,12 * * ? *)

  # websocket functions
  wsAuthorizer:
    name: wsAuthorizer
    handler: api/sockets/wsAuthorizer.wsAuthorizer
    logRetentionInDays: 7

  connect:
    handler: api/sockets/connectHandler.handler
    logRetentionInDays: 7
    timeout: 30
    events:
      - websocket:
          route: $connect
          authorizer:
            name: wsAuthorizer
            identitySource: route.request.header.sec-websocket-protocol

  disconnect:
    handler: api/sockets/disconnectHandler.handler
    timeout: 30
    logRetentionInDays: 7
    events:
      - websocket:
          route: $disconnect

  messageHandler:
    handler: api/sockets/messageHandler.handler
    logRetentionInDays: 7
    timeout: 30
    environment:
      DOMAIN_NAME: ${self:custom.websocketDomain}
      STAGE: ${self:provider.stage}
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - WsMessageQueue
              - Arn

  # scratch:
  #   handler: utils/scratch.handler
  #   description: For testing only
  #   timeout: 60
